.servicesSection {
  background-color: #F5F4EF;
  padding: 80px 5%;
}

.servicesContainer {
  max-width: 1400px;
  margin: auto;
}

/* TOP BAR */

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.mainHeading {
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #1A1A1A;
}

.viewAll {
  font-size: 14px;
  color: #C09551;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.3s ease;
  background: none;
  border: none;
}

.viewAll:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* GRID */

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.cardImage {
  width: 100%;
  height: 450px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.overlay {
  position: absolute;
  inset: 0;
}

.cardTitle {
  position: absolute;
  bottom: 25px;
  opacity: 70%;
  left: 25px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

/* Hover Effect */
.card:hover .cardImage {
  transform: scale(1.05);
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
  .mainHeading {
    font-size: 30px;
  }

  .cardImage {
    height: 380px;
  }
}

@media (max-width: 768px) {
  .topBar {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .gridWrapper {
    grid-template-columns: 1fr;
  }

  .cardImage {
    height: 350px;
  }

  .mainHeading {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .servicesSection {
    padding: 60px 5%;
  }

  .cardImage {
    height: 280px;
  }

  .mainHeading {
    font-size: 22px;
  }
}