.val-sec-wrapper {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 120px 20px;
  color: #fff;
}

.val-sec-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.val-sec-container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

/* HEADER */
.val-sec-subtitle {
  color: #C09551;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: center;
}

.val-sec-title {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 15px;
  
}

.val-sec-description {
  color: #ddd;
  margin-bottom: 70px;
  text-align: center;
  /* background-color: red; */
}

/* GRID */
.val-sec-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */
.val-sec-card {
  background: #ffffff;
  color: #333;
  padding: 35px;
  text-align: left;
  transition: transform 0.4s ease;
}

.val-sec-card:hover {
  transform: translateY(-8px);
}

.val-sec-card-small {
  font-size: 12px;
  letter-spacing: 1px;
  color: #C09551;
  margin-bottom: 10px;
}

.val-sec-card h3 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 500;
}

.val-sec-card p {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 20px;
}

/* BUTTON */
.val-sec-btn {
  padding: 10px 18px;
  background: transparent;
  border: 1px solid #C09551;
  color: #C09551;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease;
}

.val-sec-btn:hover {
  background: #C09551;
  color: #fff;
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media (max-width: 1024px) {
  .val-sec-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .val-sec-title {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .val-sec-grid {
    grid-template-columns: 1fr;
  }

  .val-sec-title {
    font-size: 24px;
  }

  .val-sec-description {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .val-sec-title {
    font-size: 20px;
  }

  .val-sec-card {
    padding: 25px;
  }
}
