.why-section {
  display: flex;
  gap: 60px;
  padding: 80px 6%;
  align-items: center;
}

/* LEFT CONTENT */
.why-content {
  flex: 1;
}

.breadcrumb {
  font-size: 13px;
  color: #777;
  margin-bottom: 20px;
}

.why-label {
  color: #C09551;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.why-title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 1.3;
}

.why-description {
  font-size: 15px;
  color: #555;
  line-height: 1.8;
  margin-bottom: 24px;
}

.why-list {
  padding-left: 18px;
}

.why-list li {
  font-size: 14px;
  color: #444;
  margin-bottom: 12px;
  line-height: 1.6;
}

li::marker {
  color: #C09551;
  font-size: 20px; 
}


/* RIGHT IMAGE */
.why-image-wrapper {
  flex: 1;
  position: relative;
}

.why-image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

/* EXPERIENCE BOX */
.experience-box {
  position: absolute;
  bottom: -30px;
  left: -30px;
  background:#F5F4EF;
  padding: 24px 28px;
  border: 1px solid #e5c07b;
  text-align: center;
}

.experience-box h3 {
  color: #C09551;
  font-size: 22px;
  margin-bottom: 6px;
}

.experience-box p {
  font-size: 13px;
  color: #555;
  line-height: 1.4;
}

/* TABLET */
@media (max-width: 992px) {
  .why-section {
    flex-direction: column;
    gap: 40px;
  }

  .why-title {
    font-size: 28px;
  }

  .experience-box {
    left: 20px;
    bottom: 20px;
  }
}

/* MOBILE */
@media (max-width: 576px) {
  .why-section {
    padding: 60px 20px;
  }

  .why-title {
    font-size: 24px;
  }

  .why-description,
  .why-list li {
    font-size: 14px;
  }

  .experience-box {
    position: static;
    margin-top: 20px;
  }
}
