.cr-wrapper {
  background: #F5F4EF;
  padding: 100px 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.cr-container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.cr-subtitle {
  color: #C09551;
  letter-spacing: 3px;
  font-size: 14px;
  margin-bottom: 10px;
}

.cr-title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 15px;
}

.cr-desc {
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 14px;
  color: #555;
}

/* TABS */
.cr-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.cr-tab {
  padding: 10px 22px;
  border: none;
  background: #eaeaea;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

.cr-tab.active {
  background: #C09551;
  color: white;
}

/* CONTENT */
.cr-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: stretch;
  text-align: left;
  background-color: rgb(255, 255, 255);
  /* padding: 30px; */
}

.cr-image img {
  width: 100%;
  /* height: 100%; */
  height: 400px;
  object-fit: cover;
}

.cr-info {
  background: white;
  padding: 40px;
}

.cr-info h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

.cr-region-desc {
  font-size: 14px;
  margin-bottom: 25px;
  color: #555;
}

/* BOX ROW */
.cr-box-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 30px;
}

.cr-box {
  background: #F5F4EF;
  padding: 15px;
}

.cr-box.small {
  text-align: center;
}

.cr-box.small img {
  width: 22px;
  margin-bottom: 5px;
}

.cr-box-title {
  font-size: 12px;
  color: #C09551;
  display: block;
  margin-bottom: 8px;
}

/* TAGS */
.cr-highlights span {
  font-size: 12px;
  color: #C09551;
}

.cr-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.cr-tag {
  background: #F5F4EF;
  padding: 6px 12px;
  font-size: 12px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .cr-content {
    grid-template-columns: 1fr;
  }

  .cr-box-row {
    grid-template-columns: 1fr;
  }
}
