/* ================= HERO SECTION ================= */

.hero-section {
  position: relative;
  height: 85vh;
  min-height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 100px;
  color: #ffffff;
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
}

/* ================= DARK OVERLAY ================= */

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

/* ================= CONTENT ================= */

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-end;
    
}

.hero-subtitle {
  font-size: 14px;
  letter-spacing: 4px;
  color: #C09551;
  margin-bottom: 28px;
  font-weight: 500;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
}

#line{
  height: 4px;
  width: 100px;
  background-color: #C09551;
}

.hero-content h1 {
  font-size: 78px;
  font-weight: 300;
  line-height: 1.05;
  margin-bottom: 28px;
}

.hero-desc {
  font-size: 14px;
  opacity: 0.85;
  text-align: left;
  min-width: 100%;
}



/* ================= RIGHT ICONS ================= */

.hero-icons {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.hero-icons img {
  width: 42px;
  height: 42px;
  opacity: 0.85;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-icons img:hover {
  opacity: 1;
  transform: scale(1.15);
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1200px) {
  .hero-content h1 {
    font-size: 64px;
  }
}

@media (max-width: 992px) {
  .hero-section {
    padding: 0 60px;
  }

  .hero-content h1 {
    font-size: 48px;
  }

  .hero-icons {
    right: 30px;
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 85vh;
    padding: 0 30px;
  }

  .hero-content h1 {
    font-size: 36px;
  }

  .hero-desc {
    font-size: 14px;
  }

  .hero-icons img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .hero-section {
    height: 75vh;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .hero-icons {
    display: none;
  }
}
