.J-O-section {
  background-color: #f9f8f5;
  padding: 80px 20px;
  font-family: "Poppins", sans-serif;
  color: #222;
  text-align: center;
}

.J-O-container {
  max-width: 1200px;
  margin: 0 auto;
}

.J-O-subtitle {
  color: #c89c5d;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.J-O-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #222;
}

.J-O-description {
  max-width: 900px;
  margin: 0 auto 60px;
  color: #555;
  line-height: 1.7;
  font-size: 1rem;
}

.J-O-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.J-O-card {
  background: #fff;
  border: 1px solid #e5decf;
  border-radius: 6px;
  padding: 25px 20px;
  transition: all 0.3s ease;
}

.J-O-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.J-O-icon {
  color: #c89c5d;
  font-size: 38px;
  
  margin-bottom: 15px;
  border: 1px solid #c89c5d;
  padding: 5px;
  border-radius: 50%;
}

.J-O-card-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.J-O-card-text {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
}

/* ==================== RESPONSIVE ==================== */
@media (max-width: 992px) {
  .J-O-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .J-O-title {
    font-size: 2rem;
  }

  .J-O-description {
    font-size: 0.95rem;
  }
}

@media (max-width: 576px) {
  .J-O-grid {
    grid-template-columns: 1fr;
  }

  .J-O-title {
    font-size: 1.8rem;
  }

  .J-O-description {
    font-size: 0.9rem;
  }

  .J-O-card {
    padding: 20px;
  }
}
